importFrom("XML", "xmlTreeParse",
           "xmlRoot",
           "xmlElementsByTagName",
           "getNodeSet",
           "xmlGetAttr")
export("ArrayExpress", "getAE", "queryAE", "magetab2bioc")
